@mixin container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

@mixin fade-in {
  animation: fadeIn 0.3s ease-in-out both;
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
