button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.button {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  transition-property: background, opacity;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    background: var(--background-2);
  }

  &:active {
    background: var(--background-3);
  }

  &--primary {
    background: var(--primary);
    color: #fff;

    &:hover,
    &:focus {
      background: var(--primary);
      opacity: 0.75;
    }

    &:active {
      background: var(--primary);
      opacity: 0.5;
    }
  }

  &--inverse {
    color: var(--background);

    &:hover,
    &:focus {
      background: var(--text-2);
    }

    &:active {
      background: var(--text-3);
    }
  }

  &--leading {
    margin-left: -0.5rem;
  }
}
