$gradients: (
  'red': (
    'start': #c62828,
    'end': #ff5252
  ),
  'yellow': (
    'start': #f57c00,
    'end': #ffc400
  ),
  'green': (
    'start': #43a047,
    'end': #b2ff59
  ),
  'teal': (
    'start': #00796b,
    'end': #00e676
  ),
  'blue': (
    'start': #1e88e5,
    'end': #00e5ff
  ),
  'indigo': (
    'start': #283593,
    'end': #536dfe
  ),
  'purple': (
    'start': #5e35b1,
    'end': #7c4dff
  ),
  'grey': (
    'start': #78909c,
    'end': #b0bec5
  )
);

@each $name, $color in $gradients {
  .gradient--#{$name} {
    background: linear-gradient(
      45deg,
      map-get($color, 'start') 30%,
      map-get($color, 'end') 90%
    );
    color: mix(#fff, map-get($color, 'start'), 90%);
  }
}
