.header {
  background: var(--background-1);
  border-bottom: 1px solid var(--background-2);
  height: 4rem;
  transition-property: background, border;
  transition-duration: 0.3s;
  @include fade-in;
}

.header__container {
  @include container;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.brand__image {
  width: 2rem;
}

.brand__title {
  margin-left: 0.75rem;
  line-height: 0;
}

.header__buttons {
  $margin: 5px;

  display: flex;
  margin-left: -$margin;
  margin-right: -$margin;

  .button {
    margin-left: $margin;
    margin-right: $margin;
  }
}
