.section {
  &__header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include fade-in;
  }

  &__title {
    font-size: 2em;
    margin: 0;
  }

  &__body {
    @include fade-in;

    p {
      margin: 0;
    }
  }
}
