.subject-card {
  border-radius: 0.75rem;
  position: relative;
  padding: 1rem;
  user-select: none;
  text-decoration: none;
  transition-property: box-shadow, opacity, transform;
  transition-duration: 0.5s;
  -webkit-tap-highlight-color: transparent;
  @include fade-in;
  @include shadow-md;

  &:hover {
    transform: scale(1.025);
    @include shadow-lg;
  }

  &:active,
  &:focus {
    opacity: 0.75;
    transform: scale(1.05);
  }
}

.subject-card__title {
  font-size: 1.3em;
  margin: 0;
  @include truncate;
}

.subject-card__body {
  padding: 0.5rem 0;
  @include truncate;
}

.subject-card__extra {
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 0.15rem;
  opacity: 0.75;
}

.subject-card__label {
  background: #ffd900;
  border-radius: 0.75rem 0 0.75rem 0;
  box-shadow: -1px -1px 3px hsla(0, 0, 0, 0.2);
  color: #000;
  font-size: 0.75em;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.1rem 0.75rem;
  text-transform: uppercase;
}
