.subject-card {
  border-radius: 0.75rem;
  padding: 1rem;
  user-select: none;
  text-decoration: none;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  -webkit-tap-highlight-color: transparent;
  @include fade-in;

  &:hover {
    transform: scale(1.025);
  }

  &:active,
  &:focus {
    opacity: 0.75;
    transform: scale(1.05);
  }
}

.subject-card__title {
  font-size: 1.3em;
  margin: 0;
  @include truncate;
}

.subject-card__body {
  padding: 0.5rem 0;
  @include truncate;
}

.subject-card__extra {
  font-size: 0.85em;
  font-weight: 500;
  opacity: 0.75;
}
