.mermaid {
  --mermaid-font-family: var(--font-family);
  font-size: 1.2em;
  line-height: 1.5;
  @import '../../../node_modules/mermaid/src/themes/default/';
}

html[theme='dark'] {
  .mermaid {
    @import '../../../node_modules/mermaid/src/themes/dark/';
  }
}
