.rendered {
  padding-bottom: 1rem;

  @media (min-width: 1200px) {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  @import 'base';
  @import 'prism';

  --mermaid-font-family: var(--font-family);
}

html {
  .rendered {
    @import '../../../node_modules/mermaid/src/themes/default/';
  }
}

html[theme='dark'] {
  .rendered {
    @import '../../../node_modules/mermaid/src/themes/dark/';
  }
}
