@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full dark:bg-invert-900 dark:text-white;
  }

  #__next {
    @apply h-full;
  }
}

@layer components {
  /* Linear Progress */
  .linear-progress {
    height: 4px;
    background-image: linear-gradient(to left, theme(colors.primary.500), white, theme(colors.primary.500));
    background-size: 400%;
    animation: scroll-infinite 1.5s linear infinite;
  }
  .dark .linear-progress {
    background-image: linear-gradient(
      to left,
      theme(colors.primary.500),
      theme(colors.base.900),
      theme(colors.primary.500)
    );
  }

  /* Switch */
  .switch-control:checked {
    @apply translate-x-2/3;
  }
  .switch-control:checked + .switch-label {
    @apply bg-primary-600 dark:bg-primary-500;
  }
}

@layer utilities {
  @variants dark {
    .filter-invert {
      filter: invert(100%);
    }
  }

  /* Remove fill color */
  .fill-none path {
    fill: none;
  }
}

@keyframes scroll-infinite {
  0% {
    background-position: 125% 0;
  }
  to {
    background-position: 0;
  }
}

/* React PDF Viewer */
.rpv-core-inner-page {
  background: transparent !important;
}
.dark .rpv-core-inner-page {
  filter: invert(100%);
}

/* Toastify */
.Toastify .Toastify__toast {
  @apply min-h-0;
}
@media (min-width: 480px) {
  .Toastify .Toastify__toast {
    @apply mb-2 rounded-lg;
  }
}
